.time {
  font-weight: var(--fw-bold);
}

.svartheim,
.alfheim,
.helheim,
.niflheim,
.muspelheim {
  text-transform: capitalize;
}

.svartheim {
  color: var(--accent-purple);
}
.alfheim {
  color: var(--accent-yellow);
}
.helheim {
  color: var(--accent-red);
}
.niflheim {
  color: var(--accent-green);
}
.muspelheim {
  color: var(--accent-blue);
}

.li {
  position: relative;
  display: flex;
  flex-direction: row;
}

.ornamentLeft,
.ornamentRight {
  position: absolute;
  height: 38px;
  width: 38px;
}

.ornamentLeft {
  left: -15px;
}

.ornamentRight {
  right: -15px;
  transform: scaleX(-1);
}
