.time {
  font-weight: var(--fw-bold);
}

.svartheim,
.alfheim,
.helheim,
.niflheim,
.muspelheim {
  text-transform: capitalize;
}

.svartheim {
  color: var(--accent-purple);
}
.alfheim {
  color: var(--accent-yellow);
}
.helheim {
  color: var(--accent-red);
}
.niflheim {
  color: var(--accent-green);
}
.muspelheim {
  color: var(--accent-blue);
}
