.time {
  font-weight: var(--fw-bold);
}

.svartheim,
.alfheim,
.helheim,
.niflheim,
.muspelheim {
  text-transform: capitalize;
}

.Vanaheim {
  color: var(--accent-red);
}
.Jotunheim {
  color: var(--accent-blue);
}
.Midgard {
  color: var(--accent-yellow);
}

.li {
  position: relative;
  display: flex;
  flex-direction: row;
}

.ornamentLeft,
.ornamentRight {
  position: absolute;
  height: 38px;
  width: 38px;
}

.ornamentLeft {
  left: -15px;
}

.ornamentRight {
  right: -15px;
  transform: scaleX(-1);
}
