.sponsors {
  background-color: var(--accent-orange);
  padding-top: var(--spacing-s);
  font-family: var(--ff-main);
  font-weight: var(--fw-bold);
}

.ul {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: var(--spacing-s);
}

.titles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xs);
  margin-bottom: var(--spacing-s);
}

.h2 {
  font-size: var(--type-h2);
  line-height: var(--type-h1);
  font-family: var(--ff-display);
}

.h3 {
  font-size: var(--type-big-body);
  color: var(--primary-100);
}

.li {
  width: auto;
  font-size: var(--type-h5);
  line-height: var(--type-h4);
}

.li::after {
  content: " /";
  margin-right: var(--spacing-2xs);
}

.li:last-of-type:after {
  content: "";
}

@media only screen and (min-width: 768px) {
  .sponsors {
    padding-top: var(--spacing-xl);
  }

  .ul {
    padding-bottom: var(--spacing-xl);
  }
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1440px) {
}
