.input_grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacing-xs);
  row-gap: var(--spacing-s);
}
.input_grid label {
  display: flex;
  flex-direction: column;
  font-size: var(--type-small);
  gap: var(--spacing-2xs);
}

.full_row {
  grid-row: 2/3;
}

.billing_form input {
  padding-block: 1rem;
  padding-left: var(--spacing-xs);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  outline: 2px solid var(--secondary-100);
}
.billing_form input:focus {
  outline: 2px solid var(--accent-orange);
}
.billing_form fieldset {
  padding-bottom: var(--spacing-m);
}
.billing_form input,
.billing_form textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.subtitle {
  font-size: var(--type-small);
  font-weight: 400;
  color: var(--secondary-100);
}
.selector {
  margin-top: var(--spacing-xs);
  position: relative;
  width: 100%;
  background-color: var(--secondary-300);
  color: var(--primary-300);
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  outline: 1px solid var(--secondary-100);
}
.selecotr_item {
  position: relative;
  flex-basis: calc((100% / 4) - 2px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selector_item_radio {
  appearance: none;
  display: none;
}
.selector_item_label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 42px;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  line-height: 400%;
  font-weight: 900;
  transition-duration: 0.5s;
  transition-property: transform, color, box-shadow, background-color;
  transform: none;
  font-weight: 400;
}

.selector_item_label:hover {
  border: 2px solid var(--accent-orange);
}
.selector_item_radio:checked + .selector_item_label {
  background-color: #ff9d4192;
  color: var(--primary-300);
  border: 2px solid var(--accent-orange);
  font-weight: 700;
}

@media only screen and (min-width: 550px) {
  .input_grid {
    grid-template-columns: 1fr 1fr;
  }
  .selector {
    height: 60px;
  }
  .selector_item_label {
    height: 58px;
  }
}
@media only screen and (max-width: 400px) {
  .billing_form input {
    font-size: 0.8rem;
  }
}
