.input_grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacing-xs);
  row-gap: var(--spacing-xs);
}
.input_grid label {
  display: flex;
  flex-direction: column;
  font-size: var(--type-small);
  gap: var(--spacing-2xs);
}

.full_row {
  grid-column: 1/-1;
}

.billing_form input {
  padding-block: 1rem;
  padding-left: var(--spacing-xs);
  border-radius: 4px;
  border: none;
  outline: 2px solid var(--secondary-100);
}
.billing_form input:focus {
  outline: 2px solid var(--accent-orange);
}
.billing_form fieldset {
  padding-bottom: var(--spacing-m);
}
.billing_form input,
.billing_form textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
@media only screen and (min-width: 550px) {
  .input_grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* 
//*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
}
:root{
    --white:#fff;
    --smoke-white:#f1f3f5;
    --blue:#4169e1;
}
.container{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.selector{
    position:relative;
    width:60%;
    background-color:var(--smoke-white);
    height:80px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-radius:9999px;
    box-shadow:0 0 16px rgba(0,0,0,.2);
}
.selecotr-item{
    position:relative;
    flex-basis:calc(80% / 3);
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.selector-item_radio{
    appearance:none;
    display:none;
}
.selector-item_label{
    position:relative;
    height:80%;
    width:100%;
    text-align:center;
    border-radius:9999px;
    line-height:400%;
    font-weight:900;
    transition-duration:.5s;
    transition-property:transform, color, box-shadow;
    transform:none;
}
.selector-item_radio:checked + .selector-item_label{
    background-color:var(--white);
    color:var(--blue);
    outline:1px solid var(--blue)
}
@media (max-width:480px) {
	.selector{
		width: 90%;
	}
}
*/
