.section {
  background-color: var(--primary-300);
  padding-block: var(--spacing-s);
}

.section > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.h2 {
  color: var(--accent-orange);
  font-size: var(--type-h5);
  line-height: var(--type-h5);
  text-align: center;
}

.display {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1440px) {
}
