.article {
  margin-bottom: var(--spacing-s);
}
.article h1 {
  font-size: var(--type-h1);
  font-family: var(--ff-display);
  line-height: 0.9;
  margin-top: var(--spacing-s);
}

.article h2 {
  font-size: var(--type-big-body);
  font-family: var(--ff-main);
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: var(--spacing-s);
}

.article p {
  font-size: var(--type-body);
  line-height: 1.55;
  text-transform: capitalize;
}

.article section {
  margin-bottom: var(--spacing-m);
}

.genre {
  color: red;
  margin-bottom: var(--spacing-m) !important;
  font-family: var(--ff-display) !important;
}

.memberWrapper {
  display: flex;
  flex-direction: column;
}

.memberWrapper h2 {
  font-size: var(--type-big-body);
}

.bodytext {
  color: var(--secondary-100);
}

/* genres */

.Rock {
  color: var(--accent-orange-2);
}

.Pop {
  color: var(--accent-teal);
}

.Punk {
  color: var(--accent-red);
}

.Soul {
  color: var(--accent-pink);
}

.Rap {
  color: var(--accent-yellow);
}

.Country {
  color: var(--accent-green);
}

.Electronic {
  color: var(--accent-blue);
}

.World {
  color: var(--accent-purple);
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 768px) {
  .article {
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
