.mapWrapper {
  aspect-ratio: 1/1;
  width: 768px;
  max-width: 100%;
  height: auto;
}

/* make icons unclickable */
.mapWrapper g > g {
  pointer-events: none;
}

.mapWrapper g path {
  cursor: pointer;
}
.mapWrapper > g > path:first-of-type {
  cursor: initial;
}

.mapWrapper path:hover {
  filter: brightness(1.3) contrast(0.8);
}

.mapWrapper > g > path:first-of-type:hover {
  filter: none;
}

.hide {
  opacity: 0;
  transform: translateY(16px);
  pointer-events: none;
}

.show {
  opacity: 1;
  color: #fff;
  transform: translateY(0);
}

.componentWrapper {
  position: relative;
  display: flex;
  width: fit-content;
  margin: auto;
  flex-direction: column;
}

.labelWrapper {
  position: absolute;
  width: 100%;
  pointer-events: none;
  aspect-ratio: 1/1;
}

.labelWrapper div {
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2xs) var(--spacing-m);
  position: absolute;
  transition: 0.3s ease-in;
  color: var(--primary-200);
  background-color: var(--secondary-300);
  display: flex;
  filter: drop-shadow(0 4px 8px var(--primary-100));
}

.labelWrapper div:before,
.labelWrapper div:after {
  display: block;
  position: absolute;
  content: "";
  background: url("../../public/images/side-ornament.svg");
  aspect-ratio: 6/10;
  height: 110%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 2px #000);
}
.labelWrapper div:before {
  left: -0.9rem;
}
.labelWrapper div:after {
  right: -0.9rem;
  transform: scaleX(-1);
}

.labelWrapper div h3 {
  font-family: var(--ff-display);
  font-size: var(--type-body);
}

.labelWrapper div p {
  font-size: var(--type-small);
  display: flex;
  justify-content: center;
}

.labelWrapper div p:after {
  width: 24px;
  height: 24px;
  display: block;
  content: " ";
  position: absolute;
  bottom: -6px;
  background-color: var(--secondary-300);
  z-index: -1;
  transform: rotate(45deg);
}

/* label positions */
.vanaheim {
  bottom: 22%;
  left: 4.5%;
}
.midgard {
  right: 4.5%;
  bottom: 25%;
}
.jotunheim {
  top: 1%;
  right: 6.5%;
}
.muspelheim {
  bottom: 42%;
  left: 25%;
}
.niflheim {
  bottom: 55%;
  left: 35%;
}
.alfheim {
  bottom: 55%;
  right: 12%;
}
.helheim {
  bottom: 67%;
  left: 24.5%;
}
.svartheim {
  bottom: 79%;
  left: 34%;
}

.labelWrapper span {
  pointer-events: initial;
  cursor: pointer;
  color: var(--secondary-100);
  top: var(--spacing-xs);
  left: var(--spacing-xs);
  position: absolute;
  border: solid 2px var(--primary-300);
  padding: var(--spacing-2xs);
  transition: 0.3s ease-in-out;
}

.labelWrapper span:hover {
  color: var(--accent-orange);
  border: solid 2px var(--accent-orange);
}

.legendWrapper {
  margin: auto;
  width: 100%;
  margin-top: var(--spacing-s);
}

.legendWrapper div:nth-of-type(2) {
  background: var(--primary-200);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-l);
  font-size: var(--type-body);
  color: var(--secondary-300);
  padding: var(--spacing-m) var(--spacing-m);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.legendWrapper div:first-of-type {
  color: var(--secondary-200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--spacing-s);
  align-items: center;
}

.legendWrapper div:first-of-type h2 {
  font-size: var(--type-h5);
  font-family: var(--ff-display);
  color: var(--secondary-300);
}
.legendWrapper div:first-of-type span {
  color: var(--accent-orange);
  cursor: pointer;
  font-size: var(--type-big-body);
}

.legendWrapper div h4 {
  font-weight: var(--fw-bold);
  font-family: var(--ff-display);
  font-size: var(--type-big-body);
}

.legendWrapper div ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.legendWrapper ul li {
  display: flex;
  gap: 8px;
}

.legendWrapper ul li:before {
  content: "";
  height: 16px;
  width: 16px;
  border: solid 1px var(--secondary-100);
}

.showLegend {
  max-height: 500px;
}

.hideLegend {
  max-height: 0;
  padding: 0 var(--spacing-m) !important;
}

/* legend colorboxes */
/* stages */
.legendWrapper div ul:first-of-type li:nth-of-type(1):before {
  background-color: #1161ed;
}
.legendWrapper div ul:first-of-type li:nth-of-type(2):before {
  background-color: #dda722;
}
.legendWrapper div ul:first-of-type li:nth-of-type(3):before {
  background-color: #f61944;
}
/* camping areas */
.legendWrapper div ul:last-of-type li:nth-of-type(1):before {
  background-color: #24ad52;
}
.legendWrapper div ul:last-of-type li:nth-of-type(2):before {
  background-color: #7427aa;
}
.legendWrapper div ul:last-of-type li:nth-of-type(3):before {
  background-color: #e5781f;
}
.legendWrapper div ul:last-of-type li:nth-of-type(4):before {
  background-color: #e051ad;
}
.legendWrapper div ul:last-of-type li:nth-of-type(5):before {
  background-color: #23c4b5;
}

@media screen and (min-width: 400px) {
  /* map labels */
  .labelWrapper div h3 {
    font-family: var(--ff-display);
    font-size: var(--type-big-body);
  }

  .labelWrapper div p {
    font-size: var(--type-small);
  }

  .muspelheim {
    bottom: 42%;
    left: 31%;
  }
  .niflheim {
    bottom: 55%;
    left: 38%;
  }
  .alfheim {
    bottom: 55%;
    right: 12%;
  }
  .helheim {
    bottom: 67%;
    left: 26.5%;
  }
  .svartheim {
    bottom: 79%;
    left: 36%;
  }
}

@media screen and (min-width: 768px) {
  .vanaheim {
    bottom: 22%;
    left: 4.5%;
  }
  .midgard {
    right: 4.5%;
    bottom: 25%;
  }
  .jotunheim {
    top: 1%;
    right: 6.5%;
  }
  .muspelheim {
    bottom: 42%;
    left: 31%;
  }
  .niflheim {
    bottom: 55%;
    left: 42%;
  }
  .alfheim {
    bottom: 55%;
    right: 18%;
  }
  .helheim {
    bottom: 67%;
    left: 31.5%;
  }
  .svartheim {
    bottom: 79%;
    left: 38%;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1440px) {
}
