.location_form {
  padding-bottom: var(--spacing-l);
}
.location_form fieldset {
  display: flex;
  flex-direction: column;
}
.map_wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  border: 1px solid var(--secondary-100);
  max-width: 500px;
  margin: var(--spacing-s) 0 var(--spacing-xs);
}
.map_legend {
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap;
  font-size: var(--type-xs);
}
.map_legend > div {
  display: flex;
  gap: var(--spacing-2xs);
  align-items: center;
}
.map_legend p {
  font-size: var(--type-small);
}
.color {
  width: 24px;
  height: 24px;
  background-color: var(--secondary-100);
}
