.footer {
  background-color: var(--primary-200);
  color: var(--secondary-300);
  padding: var(--spacing-m) 16px;
  font-family: var(--ff-main);
  margin-top: var(--spacing-m);
}
.ul {
  gap: 2rem;
}
.link {
  color: var(--accent-orange);
  font-size: var(--type-body);
}

.emailLink {
  color: var(--accent-orange);
  font-size: var(--type-body);
  text-decoration: underline;
}

.logo {
  color: var(--accent-orange);
  font-size: var(--type-h1);
  margin-bottom: var(--spacing-l);
  line-height: var(--type-h1);
  grid-column: 1/-1;
}
.logo em {
  font-family: var(--ff-display);
}

.h2 {
  font-size: var(--type-h5);
  color: var(--secondary-300);
}

.top {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--spacing-l);
}

.column1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about,
.info,
.address {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xs);
}

.about ul li,
.info ul li,
.address ul li {
  margin-bottom: var(--spacing-2xs);
}
.info {
  margin-bottom: var(--spacing-s);
}

.address p,
.contact p {
  color: var(--secondary-100);
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xs);
}

.contact > div {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2xs);
}

.column2 > section > ul {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2xs);
  color: var(--secondary-100);
}

.someList {
  margin-top: var(--spacing-s);
  display: flex;
  flex-flow: row nowrap;
  color: var(--accent-orange);
}

.bottom {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-xs);
  padding-top: var(--spacing-s);
  border-top: 1px var(--secondary-100) solid;
}

.privacyTerms {
  text-decoration: underline;
  color: var(--accent-orange);
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-xs);
}
/* Media Queries */

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: var(--spacing-xl) 16px;
    margin-top: var(--spacing-2xl);
  }

  .top {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .info {
    margin-bottom: 0;
  }

  .column2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
  }

  .contact > div {
    gap: var(--spacing-xs);
  }

  .column2 > section > ul {
    gap: var(--spacing-xs);
  }

  .someList {
    gap: var(--spacing-xs);
  }
  .bottom {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: var(--spacing-m);
  }

  .privacyTerms {
    order: 2;
    margin-bottom: 0;
  }

  .about ul li,
  .info ul li,
  .address ul li {
    margin-bottom: var(--spacing-xs);
  }
}

@media screen and (min-width: 1440px) {
}
