.input {
  width: 120px;
  height: 50px;
  padding: 1.2rem 0 7px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--secondary-100);
  font-size: var(--type-body);
  z-index: 1;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: textfield;
  display: none;
  width: 0;
  height: 0;
}
@-moz-document url-prefix() {
  .input {
    appearance: textfield;
  }
}

.input_number {
  position: relative;
}

.input_number_arrows {
  position: absolute;
  width: 50px;
  height: 50px;
  /* display: block; */
  border-left: 1px solid #eee;
  top: 0px;
  right: 0px;
  /* bottom: 0px; */
  scale: 0.8;
  /* pointer-events: none; */
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 1;
}
.button_up,
.button_down {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #999;
  transition: color 250ms ease-in-out;
}

.button_up:hover,
.button_down:hover {
  color: #777;
}

.input_field {
  position: relative;
}

.mini_label {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  position: relative;
  height: 100%;
  align-self: flex-end;
  margin-left: var(--spacing-2xs);
}
.mini_label::after {
  content: "Quantity";
  display: block;
  position: absolute;
  color: var(--primary-300);
  z-index: 2;
  font-size: var(--type-small);
  font-weight: 400;
  top: 4px;
  left: 4px;
}
.no_events {
  pointer-events: none;
}
.label {
  width: 60px;
}

@media only screen and (min-width: 1200px) {
  .label {
    width: 80px;
  }
}
