.input {
  width: 120px;
  height: 50px;
  padding: 1.2rem 0 7px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--secondary-100);
  font-size: var(--type-body);
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
}

.input_number {
  position: relative;
}

.input_number_arrows {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  border-left: 1px solid #eee;
  top: 0px;
  right: 0px;
  pointer-events: none;
  scale: 0.8;
}
.input_number_arrows:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #9a9a9a;
  bottom: 10px;
}
.input_number_arrows:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #9a9a9a;
  top: 10px;
}
.input_number_arrows:before,
.input_number_arrows:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.input_field {
  position: relative;
}

.mini_label {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  position: relative;
  height: 100%;
  align-self: flex-end;
}
.mini_label::after {
  content: "Quantity";
  display: block;

  position: absolute;
  color: var(--primary-300);
  z-index: 10;
  font-size: var(--type-small);
  font-weight: 400;
  top: 4px;
  left: 4px;
}
