.title {
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
}

.title {
  font-size: var(--type-small);
  text-transform: uppercase;
  color: var(--secondary-300);
  font-weight: var(--fw-bold);
  margin-bottom: var(--spacing-2xs);
}

.artist {
  font-family: var(--ff-display);
  font-size: var(--type-h5);
  text-transform: uppercase;
  color: var(--secondary-300);
  font-weight: var(--fw-medium);
  margin-bottom: var(--spacing-xs);
  max-width: 15ch;
}

.Midgard,
.Jotunheim,
.Vanaheim {
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
  font-size: var(--type-label);
}

.Midgard {
  color: var(--accent-yellow);
}
.Jotunheim {
  color: var(--accent-blue);
}

.Vanaheim {
  color: var(--accent-red);
}

@media screen and (min-width: 768px) {
  .artist {
    max-width: 25ch;
  }
}
