.bandCard {
  position: relative;
  background-color: var(--primary-200);
  padding: var(--spacing-s);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgClippingPath {
  width: 0;
  height: 0;
}

.bandImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

.shieldOverlay {
  position: absolute;
  width: 83%;
  aspect-ratio: 1/1;
  display: flex;
}

.bandDetails {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: var(--spacing-s) var(--spacing-m);
  bottom: 0;
  backdrop-filter: blur(4px);
  border-radius: 8px 8px 0px 0px;
  color: var(--secondary-300);
  display: flex;
  flex-direction: column;
  max-width: 70%;
  gap: var(--spacing-2xs);
  justify-content: center;
  align-items: center;
}

.bandDetails h2 {
  font-family: var(--ff-display);
  font-size: var(--type-h5);
  text-transform: capitalize;
}

.bandDetails p {
  font-size: var(--type-small);
}

.bandDetails a {
  background: var(--accent-orange);
  padding: var(--spacing-xs);
  border-radius: 4px;
  color: var(--primary-100);
  margin-top: var(--spacing-2xs);
  font-weight: 700;
}
.ornaments {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bandCard:hover .ornaments span svg {
  opacity: 1;
}

.ornaments span svg {
  width: 36px;
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}

.ornaments span svg {
  fill: red;
}

.ornaments span {
  position: absolute;
}

.ornaments span:nth-of-type(1) {
  top: var(--spacing-xs);
  left: var(--spacing-xs);
}
.ornaments span:nth-of-type(2) {
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  transform: rotate(90deg);
}
.ornaments span:nth-of-type(3) {
  bottom: var(--spacing-xs);
  right: var(--spacing-xs);

  transform: rotate(180deg);
}
.ornaments span:nth-of-type(4) {
  bottom: var(--spacing-xs);
  left: var(--spacing-xs);
  transform: rotate(270deg);
}
