.purchase_flow {
  background-color: var(--primary-100);
  padding-bottom: calc(var(--spacing-s) + 80px);
  padding-top: var(--spacing-s);
}
.form {
  /* background-color: var(--primary-300); */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--secondary-300);
  width: 100%;
}

.form legend {
  font-size: var(--type-big-body);
  display: inline-block;
  padding-bottom: var(--spacing-xs);
  font-weight: 700;
}

.h1 {
  font-size: var(--type-h3);
  line-height: 1.2;
  padding-bottom: var(--spacing-2xs);
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .purchase_flow {
    padding-block: var(--spacing-m);
  }
  .form {
    /* max-width: 800px; */
    margin-inline: auto;
    border-radius: var(--spacing-s);
    border: 1px solid var(--secondary-100);
    padding: var(--spacing-m);
    background-color: var(--primary-300);
  }
}
@media only screen and (min-width: 1200px) {
  .purchase_flow > div {
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: var(--spacing-xs);
  }
  .form {
    padding: var(--spacing-l);
  }
  .h1 {
    font-size: var(--type-h4);
    line-height: 1.2;
    padding-bottom: var(--spacing-2xs);
    font-weight: 700;
  }
}
@media only screen and (min-width: 1440px) {
  .purchase_flow {
    padding-block: var(--spacing-l);
  }
}
